.tips {
	padding: 0 20px;
	height: 35px;
	background-color: #000;
	margin: 0 auto;
	filter: alpha(opacity = 60);
	opacity: 0.6;
	line-height: 35px;
	text-align: center;
	color: #FFF;
	-moz-border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	border-radius: 0.5rem;
}
.tipInfo {
	padding: 1px 10px 0;
	background-color: #769cdc;
	color: #769cdc;
}
.tipBor {
	position: relative;
	color: #333;
	line-height: 35px;
	text-align: center;
	color: #fffefe;
}
.arrLeft {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-left: 10px;
	background: url(../images/arrowUp.png?t= {
	timestamp
}
) no-repeat;
	background-size: contain;
	vertical-align: middle;
}
.popLayer {
	width: 90%;
	padding: 10px;
	margin: 0 auto;
	background-color: #FFF;
	z-index: 8888;
	overflow: hidden;
}
.pSpace {
	width: 95%;
	padding: 0;
	overflow: hidden;
}
.popLayer h3 {
	position: relative;
	line-height: 45px;
	font-size: 2rem;
	text-align: center;
}
.c1 {
	color: #FFF;
}
.editTCon {
	margin: 50px 10px;
	text-align: center;
	line-height: 25px;
	color: #434343;
}
.editArea {
	height: 50px;
	padding: 13px 15px 0;
	border-top: 1px solid #e5e5e5;
	background-color: #f8f8f8;
}
.editBtn1,.editBtn2 {
	width: 48%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #cdcdcd;
	color: #858585;
	text-align: center;
}
.editBtn1 {
	float: left;
	border: 1px solid #bf1f1f;
	background-color: #f05455;
	color: #fff;
}
.editBtn2 {
	float: right;
	border: 1px solid #ccc;
	background: -webkit-gradient(linear,0% 0%,0% 100%,from(#fbfbfb),to(#f5f5f5) );
	background: -moz-linear-gradient(0% 0% 270deg,#fbfbfb,#f5f5f5);
	color: #434343;
}
.home_nav {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}
.funpic {
	position: absolute;
	top: 0px;
	bottom: 0;
	width: 98%;
	height: 100%;
	background-color: rgba(53,48,48,0.7);
	z-index: 9999;
}
.funpic2 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0px;
	background-color: rgba(53,48,48,0.7);
	z-index: 9999;
}
.bounceInUp {
	-webkit-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	-o-animation-name: bounceInUp;
	animation-name: bounceInUp;
}
.bounceOutDown {
	-webkit-animation-name: bounceOutDown;
	-moz-animation-name: bounceOutDown;
	-o-animation-name: bounceOutDown;
	animation-name: bounceOutDown;
}
.animated {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}
.menu-div {
	display: none;
	background: #f3f3f3;
	position: fixed;
	left: 0;
	z-index: 9;
}
.menu-div div a {
	display: block;
	text-indent: 44px;
	width: 200px;
	line-height: 42px;
	font-size: 14px;
	color: #666;
	background-repeat: no-repeat;
	background-size: 25px 25px;
	background-position: 10px center;
}
a {
	outline: none;
}
a {
	color: #333;
	text-decoration: none;
}
.xx {
	border-bottom: 1px solid #CCCCCC;
}
#mess_share {
	margin: 15px 0;
	display: block
}
#share_1 {
	float: left;
	width: 49%;
	display: block
}
#share_2 {
	float: right;
	width: 49%;
	display: block
}
#mess_share img {
	vertical-align: top;
	border: 0;
}
.button2 {
	font-size: 12px;
	padding: 8px 0;
	color: #000000;
	background-color: #FFFFFF;
	background-image: linear-gradient(to top,#f5f5f5,#ffffff);
	border: 1px solid #D3D3D3;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
	text-shadow: 0.5px 0.5px 1px #fff;
	text-align: center;
	border-radius: 3px;
	width: 100%;
	cursor: pointer;
}
.button2: active {
	background-image: linear-gradient(to top,#ffffff,#ffffff);
}
#mcover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	display: none;
	z-index: 20000;
}
#mcover img {
	position: fixed;
	right: 18px;
	top: 5px;
	z-index: 20001;
}
